<div class="jumbotron">
  <h2>
    Track yo self!
  </h2>
  <p>
  This is a time tracking application for fun and learning
  </p>
  <p>
  <a class="btn btn-primary btn-large" href="#">Learn more</a>
  </p>
</div>
